body 
{
    background-color:#1d1dff;
}

#contend{
    overflow-x: scroll;
}
#parrafo{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#marca{
    color: rgb(253, 15, 15);
}
.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
section{
        width:230px;
    }
    section p:last-child{
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    section p:hover {
        width: 100%;
        white-space: initial;
        overflow:visible;
        text-align: justify;
        cursor: pointer;
        }