<!-- para hacer uso de la base html -->
{% extends "base.html" %}
<!-- enviar el titulo a la base -->
{% block titulo %} Inicio {% endblock %}
<!-- enviar el contenido a la base -->
{% block contenido %}
<style type="text/css">
    #contend{
        overflow-x: scroll;
    }
    #parrafo{
        width: 230px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .sombra{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    section{
			width:230px;
		}
		section p:last-child{
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
        section p:hover {
            width: 100%;
            white-space: initial;
            overflow:visible;
            text-align: justify;
            cursor: pointer;
            }
</style>
<!-- jumbotron -->
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3"> {{ request.user | upper }} Bienvenido a The ComicCave</h1>
        
        {% if request.user.is_staff %}
        <p class="lead">Comenzar el ingreso de comics</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'historietas' %}" role="button">Comenzar</a>
        </p>
        {% endif %}
    </div>
</div>
<!-- Catalogo de historietas -->
<div class="p-5 bg-light mt-3">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for historieta in historietas %}
        <div class="col">
            <div class="card sombra">
                <img class="card-img-top" id="img" src="{{ historieta.imagen.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ historieta.titulo }}</h4>
                    <section>
                        <p class="card-text">{{ historieta.descripcion }}</p>
                    </section>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}