<!-- para hacer uso de la base html -->
{% extends "base.html" %}
<!-- enviar el titulo a la base -->
{% block titulo %} Lista de Comics {% endblock %}
<!-- enviar el contenido a la base -->
{% block contenido %}

<style type="text/css">
#contend{
    overflow-x: scroll;
}
#parrafo{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
section{
			width:260px;
		}
		section p:last-child{
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
        section p:hover {
            width: 100%;
            white-space: initial;
            overflow:visible;
            text-align: justify;
            cursor: pointer;
            }
</style>

<div class="card mb-2 border-dark sombra">
    <div class="card-header bg-dark">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar Nuevo Comic</a>
    </div>
    <div class="card-body bg-light" id="contend">
        <h4 class="card-title">Comics</h4>
        <table class="table table-responsive table-borderless table-hover bg-white">
            <thead align="center">
                <tr class="bg-warning">
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for historieta in historietas %}
                <tr>
                    <td>{{ historieta.id }}</td>
                    <td>
                        <section>
                            <p>
                            {{ historieta.titulo }}
                            </p>
                        </section>
                    </td>
                    <td>
                        <img src="{{ historieta.imagen.url }}" height="100" alt="Imagen Comic">
                    </td>
                    <td>
                        <section>
                            <p>
                                {{ historieta.descripcion }}
                            </p>
                        </section>
                    </td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar' historieta.id %}" role="button">Editar</a>
                         | 
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' historieta.id %}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-white bg-dark">
        The ComicCave
    </div>
</div>

{% endblock %}